.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 90vh;
}

.title-bar {
  background-color: #f0f0f0; 
  width: 100%;
  padding: 15px 0; 
  text-align: center;
  margin-bottom: 20px; 
}

.boxes-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px; 
  flex: 1; 
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.box {
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
}

.box1 {
  background-color: lightblue;
  width: 74.5%;
}

.box2 {
  background-color: lightcoral;
  width: 24.5%;
}
