.App {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
}

.box1 {
  background-color: lightblue;
}

.box2 {
  background-color: lightcoral;
}
